@font-face {
    font-family: 'Truetypewriter PolyglOTT';
    src: url('./fonts/ttwpgott.ttf') format('truetype');
}

@import './theme.css';

.text {
    font-family: 'Truetypewriter PolyglOTT';
    font-style: normal;
}